.header {
    height: 40px;
    
    display: flex;
    justify-content: space-between;

}

.loginBtn {
    width: 149px;
    margin-right: 15px;
}

@media (max-width: 834px) {
    .loginBtn {
        margin-right: 10px;
    }
}

@media (max-width: 360px) {
    .header {
        height: 30px;
    }

    .loginBtn {
        width: 89px;
        height: 30px;

        font-size: 12px;
    }
}

