.icon {
    display: inline-block;

    border: none;
    border-radius: 14px;
    background-color: var(--varity1-color);
    
    height: 40px;
    width: 40px;
}

@media (max-width: 400px) {
    .icon {
        height: 30px;
        width: 30px;

        border-radius: 10px;
    }
}