.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px; /* <!> */
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 28px;
  font-weight: 500;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
}

.pictureInputContainer {
  display: flex;
  justify-content: end;
  align-items: end;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 800px) {
  /* 650px */
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .pictureInputContainer {
    justify-content: start;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
  }
}
